.tickets_list {
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.ticket {
    padding: 20px;
    background-color: #161616;
    border-radius: 10px;
    color: #FEFFFF;
    font-size: 24px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.canceled {
    color: #ad2419;
    font-size: 24px;
}